
.flex {
  display: flex;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  height: 3.5rem;
  font-family: Helvetica;
  padding: 5px 20px;
}

.copyleft {
  font-size: 0.75rem;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}

.symbol {
  display: inline-block;
  transform: scale(-1, 1);
}

.source {
  flex-direction: column;
  font-size: 11px;
}

.icon-wrapper {
  margin-top: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.theme {
  white-space: nowrap;
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: center;
}




/* Light Theme */

.footer-light {
  background-color: #f2f2f2;
  color: #70757a;
}




/* Dark Theme */

.footer-dark {
  background-color: #121212;
  color: white;
  border-top: 1px solid #333333;
}

.footer-dark :is(.copyleft, .theme, .source) {
  opacity: 0.87;
}

.footer-dark .source-wrapper {
  margin-right: calc(var(--right-margin) + 1px);
}

.footer-dark .source {
  color: cyan;
}




@media only screen and (max-width: 700px) {

  .copyleft {
    flex-direction: column;
  }
  
  .copyleft > div:nth-of-type(2) {
    align-self: flex-start;
  }
}


@media only screen and (max-width: 370px) {

  .rights-notice {
    display: none;
  }
}