
.btn {
  --size: 100%;
  --light-colour: black;
  --dark-colour: white;
  --dark-opacity: 0.87;

  block-size: var(--size);
  inline-size: var(--size);
  border-radius: 50%;
  padding: 20%;
}

.btn-light {
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .24);
  border-color: var(--light-colour);
}

.btn-light:hover {
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .32);
}

.btn-light polygon {
  fill: var(--light-colour);
}

.btn-dark {
  opacity: calc(var(--dark-opacity) - 0.3);
}

.btn-dark:hover {
  opacity: var(--dark-opacity);
}

.btn-dark polygon {
  fill: var(--dark-colour);
}