
.btn {
  --size: 100%;
  --light-colour: black;
  --dark-colour: white;
  --dark-opacity: 0.87;

  block-size: var(--size);
  inline-size: var(--size);
  border-radius: 50%;
  padding: 20%;
}

.btn-light {
  box-shadow: 0 1px 8px rgba(32, 33, 36, 0.28);
  border-color: var(--light-colour);
}

.btn-light polygon {
  fill: var(--light-colour);
}

.btn-dark {
  opacity: var(--dark-opacity);
}

.btn-dark polygon {
  fill: var(--dark-colour);
}