
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBar {
  position: sticky;
  top: 20px;
  padding: 20px 0px;
  width: 100vw;
}

.form {
  justify-content: space-between;
}

.logo {
  justify-content: center;
}

.logoName {
  margin-right: 20px;
  white-space: nowrap;
  font-family: Black Chancery;
}


/* Styles on the button to toggle the theme */
.themeToggle {
  min-width: 25px;
  max-width: 25px;
  margin: 0px 40px;
}



/* Light Theme */

.searchBar-light {
  background-color: white;
}

.inputBox {
  border: 1px solid transparent;
  border-radius: 24px;
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
}

.inputBox:hover {
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
}

.input {
  font-family: Helvetica;
  border-style: none;
  outline: none;
  width: 100%;
  background-color: white;
}

.btn {
  border-style: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.logoIcon {
  margin-left: 20px;
  margin-right: 10px;
}




/* Dark Theme */

.searchBar-dark {
  background-color: #121212;

  --dark-theme-white-opacity: 0.85;
  --dark-theme-text-colour: white;
  --dark-theme-text-opacity: 0.85;
}

.searchBar-dark .text {
  color: var(--dark-theme-text-colour);
  opacity: var(--dark-theme-text-opacity);
}

.searchBar-dark .inputBox {
  --inputBox-dark-theme-colour: #333333;
  border: 1px solid var(--inputBox-dark-theme-colour);
  background-color: var(--inputBox-dark-theme-colour);
}

.searchBar-dark .inputBox:hover {
  --inputBox-dark-theme-colour: #414141;
}

.searchBar-dark .input {
  color: var(--dark-theme-text-colour);
  opacity: var(--dark-theme-text-opacity);
  background-color: var(--inputBox-dark-theme-colour);
}

.searchBar-dark .input::placeholder {
  color: var(--dark-theme-text-colour);
  opacity: calc(var(--dark-theme-text-opacity) - 0.2);
}

.searchBar-dark .btn {
  filter: invert(var(--dark-theme-white-opacity));
}

.searchBar-dark .logoName {
  color: var(--dark-theme-text-colour);
  opacity: var(--dark-theme-text-opacity);
}

.searchBar-dark .logoIcon {
  filter: invert(calc(var(--dark-theme-white-opacity) + 0.1));
}

@media only screen and (max-width: 700px) {
  
  .logoName {
    display: none;
  }

  .themeToggle {
    margin: 0px 20px;
  }

  .logoIcon {
    margin: 0px 15px;
  }
}