
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBar-light {
  position: sticky;
  top: 20px;
  padding: 20px 0px;
  width: 100vw;
  background-color: white;
}

.searchBar-dark {
  position: sticky;
  top: 20px;
  padding: 20px 0px;
  width: 100vw;
  background-color: #121212;

  --dark-theme-white-opacity: 0.8;
}

.text-light {
  font-family: Helvetica;
  color: black;
}

.text-dark {
  font-family: Helvetica;
  color: white;
  opacity: var(--dark-theme-white-opacity);
}

.inputBox-light {
  border: 1px solid transparent;
  border-radius: 24px;
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
  margin-right: 40px;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
}

.inputBox-dark {
  --inputBox-dark-theme-color: #333333;
  border: 1px solid var(--inputBox-dark-theme-color);
  border-radius: 24px;
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
  margin-right: 40px;
  background-color: var(--inputBox-dark-theme-color);
}

.form {
  justify-content: space-between;
}

.input-light {
  border-style: none;
  outline: none;
  width: calc(100% - 20px);
  background-color: white;
}

.input-dark {
  border-style: none;
  outline: none;
  width: calc(100% - 20px);
  background-color: var(--inputBox-dark-theme-color);
}

.input-dark::placeholder {
  color: white;
  opacity: 0.7;
}

.btn-light {
  border-style: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.btn-dark {
  border-style: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  filter: invert(var(--dark-theme-white-opacity));
}

.logo {
  justify-content: center;
}

.logoName {
  margin-right: 20px;
  white-space: nowrap;
}

.logoIcon-light {
  margin-left: 40px;
  margin-right: 20px;
}

.logoIcon-dark {
  margin-left: 40px;
  margin-right: 20px;
  filter: invert(var(--dark-theme-white-opacity));
}

@media only screen and (max-width: 700px) {
  
  .logoName {
    display: none;
  }
}